@font-face {
    font-family: 'CalibriRegular';
    src: url('fonts/calibri-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CalibriBold';
    src: url('fonts/calibri-bold.ttf') format('truetype');
}

body {
    font-family: 'CalibriRegular', Arial, sans-serif;
    padding: 20px;
}

h2 {
    font-family: 'CalibriBold', Arial, sans-serif;
}

body, p, li {
    line-height: 1.4;
}

pre code {
    line-height: 1;
}

pre code {
    display: block;
    padding: 1em;
    background: #f5f5f5;
    border-radius: 5px;
}
/* Estilos gerais para o conteúdo */
.content-body {
    background-color: #ffffff;
    color: #444;
    font-family: 'CalibriRegular', Arial, sans-serif;
    padding: 20px;
}

.content-body h2 {
    font-family: 'CalibriBold', Arial, sans-serif;
    color: #444;
}

/* Estilos para imagens responsivas */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.image-container {
    width: 100%;
    overflow-x: auto;
}

.image-container img {
    cursor: pointer;
}
